@page "/game/{DifficultyLevel}"
@using BattleShip.Models.DTO.Output;
@using BattleShip.Models.DTO.Input;
@using BattleShip.Models.DTO.Enum;
@using System.Text.Json
@using System.Text.Json.Serialization
@using BattleShip.Models.DTO.Output
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http



<link rel="stylesheet" href="css/grid.css">
<link rel="stylesheet" href="css/gameInfo.css">


@if (grid is null){
    <p>Loading...</p>
  }
  else{
@if(status){
  <p>FIN DE LA GAME</p>
}

<div class="main">

  <div class="map mapPlayer">

<div class="gridPlayer mapGrid">
  @if (preview is null){


  
    @for (int i = 0; i < 10; i++)
    {
        @for (int j = 0; j < 10; j++)
        {
          int row = i;
          int col = j;
          string data = grid[row,col];
          if(ennemyPlays[row,col] != null){
            <div  class="cell @(ennemyPlays[row,col].Hit ? "hit" : ennemyPlays[row,col] != null ? "miss" : "") @(IsBorderCell(row, col, 10) ? "isBorder" : "")"></div>
          }else{
            <div  class="cell @(IsBorderCell(row, col, 10) ? "isBorder" : "")"></div>
          }

        }
    }}else{


    @for (int i = 0; i < 10; i++)
    {
        @for (int j = 0; j < 10; j++)
        {
          int row = i;
          int col = j;
          var data = preview.AllySea.Hits.FirstOrDefault(h => h.X == row && h.Y == col);
          if(data != null){
            <div  class="cell @(data.Reached ? "hit" :  "miss" ) @(IsBorderCell(row, col, 10) ? "isBorder" : "")"></div>
          }else{
            <div  class="cell @(IsBorderCell(row, col, 10) ? "isBorder" : "")"></div>
          }

        }
    }
  }
</div>

</div>

  <div class="map">

<p class="nickname">Your ennemy</p>
<div class="grid">

  @if (preview is null){



  
    @for (int i = 0; i < 10; i++)
    {
        @for (int j = 0; j < 10; j++)
        {
          int row = i;
          int col = j;
          string ennemyData;

          if(ennemyGrid[row, col] == true){
            ennemyData = "O";
          }else if(ennemyGrid[row, col] == false){
            ennemyData = "X";
          }else{
            ennemyData = "";
          }
          <div @onclick="()=>ButtonPressed(row,col)" class="cell @(ennemyData == "O" ? "hit" : ennemyData == "X" ? "miss": "")"></div>
        }
    }
  }else{

    @for (int i = 0; i < 10; i++)
    {
        @for (int j = 0; j < 10; j++)
        {
          int row = i;
          int col = j;
          string ennemyData;

          var data = preview.EnemySea.Hits.FirstOrDefault(h => h.X == row && h.Y == col);
          if(ennemyGrid[row, col] == true){
            ennemyData = "O";
          }else if(ennemyGrid[row, col] == false){
            ennemyData = "X";
          }else{
            ennemyData = "";
          }
          if(data != null)
          {
            <div class="cell @(data.Reached ? "hit" : "miss")"></div>
             }
          else{

            <div class="cell "></div>
          }

        }
    }

  }
</div>

<p class="nickname">You</p>
</div>

<GameInfo CallbackFunction=@CallbackMethod gameId=@gameResponse.Id @key=@history history=@history />

</div>
    }


@code{
    private string[,] grid = new string[10,10];
    private bool?[,] ennemyGrid = new bool?[10,10];
    private bool getBranchesError;
    private bool shouldRender;
    private WarOutput gameResponse;
    private AiBlastOutput[,] ennemyPlays = new AiBlastOutput[10,10];
    private bool status;
    public WarHistoryOutput history;
    public WarHistoryOutput preview;

    [Parameter]
    public string DifficultyLevel { get ; set;}

    protected override bool ShouldRender() => shouldRender;

    private async void CallbackMethod(int wave)
    {

      if(wave == -1){
        preview = null;
      }else{

      Console.WriteLine($"WAVE : {wave}");
        var historyResponse = await Http.GetFromJsonAsync<WarHistoryOutput>($"https://localhost:5023/war/history/{gameResponse.Id}?wave={wave}");
    
    
        // Store history data in a variable named history
        preview = historyResponse;

      }

        StateHasChanged(); // Ensure the component re-renders after data is fetched
    }

    public bool IsBorderCell(int row, int col, int gridSize)
{
    // Check if the cell is on the top or bottom border
    if (row == 0 || row == gridSize - 1)
    {
        return true;
    }

    // Check if the cell is on the left or right border
    if (col == 0 || col == gridSize - 1)
    {
        return true;
    }

    // If the cell is not on any border
    return false;
}

    protected async Task GetHistory()
    {

        Console.WriteLine(history); 
        // Make the HTTP request to get history data
        var historyResponse = await Http.GetFromJsonAsync<WarHistoryOutput>($"https://localhost:5023/war/history/{gameResponse.Id}");
    
    
        Console.WriteLine(historyResponse.AllySea.Hits.Count);
        // Store history data in a variable named history
        history = historyResponse;
        preview = null;
                StateHasChanged(); // Ensure the component re-renders after data is fetched
    }


    protected async void ButtonPressed(int row, int col){
    var requestData = new BlastInput { PosX = row, PosY = col };

    // Serialize the object to JSON
    var jsonRequest = JsonSerializer.Serialize(requestData);
    
    // Create a StringContent with the serialized JSON
    var content = new StringContent(jsonRequest, System.Text.Encoding.UTF8, "application/json");
    
    // Send the POST request
    var response = await Http.PostAsync($"https://localhost:5023/war/blast/{gameResponse.Id}", content);
    
    // Check if the response is successful
    if (response.IsSuccessStatusCode)
    {
        // Deserialize the JSON response into WarOutput object
        BlastOutput blastData = await response.Content.ReadFromJsonAsync<BlastOutput>();
        ennemyGrid[row, col] = blastData.Hit;
        ennemyPlays[blastData.AiBlast.X, blastData.AiBlast.Y] = blastData.AiBlast; 
        status = blastData.Over;


      GetHistory();
        StateHasChanged();
    }
    else
    {
        // Handle the case when the response is not successful
        getBranchesError = true;
        Console.WriteLine($"Error: {response.StatusCode}");
    }

      }

    protected override async Task OnInitializedAsync()
    {

        var requestData = new WarInput { Difficulty = DifficultyLevel == "hard" ? Difficulty.Hard : Difficulty.Easy };

    var jsonRequest = JsonSerializer.Serialize(requestData);
    
    // Create a StringContent with the serialized JSON
    var content = new StringContent(jsonRequest, System.Text.Encoding.UTF8, "application/json");

        var response = await Http.PostAsync("https://localhost:5023/war", content);

        gameResponse = await response.Content.ReadFromJsonAsync<WarOutput>();
        Console.WriteLine(gameResponse.Id);
        
        foreach (var ship in gameResponse.Ships)
        {
            foreach (var position in ship.Positions)
            {
              int row = position.X;
              int col = position.Y;  
                grid[row, col] = ship.Letter;
            }
        }

 

        shouldRender = true;
    }




  }
